body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    color: #333;
  }
  
  h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    color: #333;
  }
  #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;
  }
  
  #menu div {
    margin: 0 10px;
  }
  
  input[type="number"] {
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
    outline: none;
  }
  
  button {
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
  }
  
  #gridBox {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    width: 600px;
    height: 600px;
  }
  
  .grid {
    width: 20px;
    height: 20px;
    background-color: white;
  }
  
  #onHoverEffect {
    display: none;
  }
  
  .grid:hover + #onHoverEffect {
    display: block;
    background-color: red;
    width: 20px;
    height: 20px;
  }

  .box {
    background-color: rgb(173, 205, 224);
    border: 1px solid rgb(220, 233, 227);
    box-sizing: border-box;
}
